* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

@font-face {
  font-family: "mainFont";
  src: url("../fonts/Pacifico-Regular.ttf");
}
@font-face {
  font-family: "primaryFont";
  src: url("../fonts/NotoSansJP-Thin.ttf");
}

body {
  font-family: "primaryFont", sans-serif;
  text-align: justify;
  height: 100%;
}

/* HEADER */
header {
  background-image: url(../images/mainImg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 61% auto;
  height: 70vh;
  padding: 50px 40px 0;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  list-style: none;
  margin-left: 25px;
}

.nav-item a {
  color: #2c2b2b;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 45%;
  color: #fff;
}

.header-content h1 {
  font-family: "mainFont", cursive;
  font-weight: 200;
  /* margin-bottom: 1rem; */
}
/* HEADER */

/* VISION */
.vision-section {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 30vh;
}

.vision-section h2 {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}

.vision-section p {
  width: 56%;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
}
/* VISION */

/* Message Section */
.message-card-01,
.message-card-02 {
  display: flex;
}

.msg-content-01,
.msg-img-01,
.msg-content-02,
.msg-img-02 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 27px;
  padding-left: 20px;
  background-color: #f6f6f6;
  width: 50%;
}

.msg-img-01 img,
.msg-img-02 img {
  width: 100%;
  height: 80%;
  background-size: cover;
}

.msg-img-01,
.msg-img-02 {
  align-self: flex-start;
}

.msg-content-01,
.msg-content-02 {
  font-size: 14px;
  font-weight: 600;
  color: #2c2b2b;
  line-height: 1.5;
  height: 26rem;
}

.msg-content-01 p,
.msg-content-02 p {
  padding: 0 20px;
}

.msg-content-01,
.msg-img-01,
.msg-content-02,
.msg-img-02 {
  padding: 0;
}
.message-section h2 {
  font-size: 18px;
  color: #000;
  margin-bottom: 30px;
}
/* Message Section */

/* Service Section */
.service-section {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 60%;
  padding-top: 60px;
  padding-bottom: 125px;
}
.service-card {
  width: 30%;
}
.service-card h2 {
  font-size: 18px;
  font-weight: 900;
  color: #000;
  text-align: center;
  margin-bottom: 20px;
}
.service-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 25px;
}

.service-card p {
  font-size: 14px;
  font-weight: 600;
  color: #2c2b2b;
  line-height: 1.5;
}
/* Service Section */

/* Reason */
.reason-box {
  border: 2px solid #00a3e0;
  padding: 20px;
  max-width: 70%;
  margin: 0 auto;
  margin-bottom: 70px;
}

.reason-header {
  display: flex;
  align-items: center;
}

.ribbon {
  display: inline-block;
  position: relative;
  top: -3rem;
  background-color: #00a0e9;
  color: white;
  padding: 15px;
  font-family: Arial, sans-serif;
  font-size: 3em;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 85%, 0% 100%);
}

.ribbon-outter {
  position: relative;
  top: -4.6rem;
  border: 0.9rem solid #006f97;
  clip-path: polygon(-3% 0%, 50% 100%, -3% 100%);
}

.reason-title {
  position: relative;
  top: -2.8rem;
  width: calc(100% + 2.6rem);
  margin-left: -8.3rem;
  margin-right: -9rem;
  z-index: -1;
  height: 30px;
  background: #00a3e0;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 5px 0;
}

.reason-heading {
  position: relative;
  top: -2.5rem;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 30px;
  text-align: center;
}

.reason-content {
  display: flex;
  position: relative;
  top: -2rem;
  /* gap: 5px; */
  flex-wrap: wrap;
}

.reason-image img {
  max-width: 90%;
  height: auto;
  padding-left: 5px;
}

.reason-text {
  flex: 1;
  min-width: 300px;
}

.reason-text p {
  font-size: 14px;
  line-height: 2;
  color: #000;
  font-weight: 600;
}
/* Reason */
/* STORY */
.story-section {
  display: flex;
  justify-content: center;
  background-image: url(../images/bgSec04.jpg);
  height: 350px;
  padding-top: 80px;
  padding-bottom: 120px;
  background-size: cover;
  background-position: center bottom;
}
.story {
  width: 32%;
  margin-left: 35px;
  margin-right: 35px;
}
.story h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
}
.story p {
  color: #fff;
}
/* STORY */
/* COMPANY INFO */
.com-info-section {
  display: flex;
  justify-content: center;
  gap: 10rem;
  padding-top: 8.75rem;
  padding-bottom: 12.5rem;
}

.key,
.value {
  font-size: 14px;
  font-weight: 600;
  color: #2c2b2b;
  line-height: 1.5;
  margin: 0.8rem 0;
}

.key {
  text-align: right;
}
/* COMPANY INFO */

/* Responsive Design */
@media (max-width: 768px) {
  .message-card-01,
  .message-card-02 {
    flex-direction: column;
  }

  .msg-content-01,
  .msg-img-01,
  .msg-content-02,
  .msg-img-02 {
    width: 100%;
  }

  .service-section {
    flex-direction: column;
    padding-bottom: 75px;
  }

  .service-card {
    width: 100%;
    margin-bottom: 40px;
  }
}
