* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "mainFont";
  src: url("../fonts/Pacifico-Regular.ttf");
}
@font-face {
  font-family: "primaryFont";
  src: url("../fonts/NotoSansJP-Thin.ttf");
}

body {
  font-family: "primaryFont", sans-serif;
  text-align: justify;
  height: 100%;
}

/* HEADER */
header {
  background-image: url(../images/mainImg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  height: 70vh;
  padding: 50px 40px 0;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  list-style: none;
  margin-left: 25px;
}

.nav-item a {
  color: #2c2b2b;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  position: relative;
}

.nav-item a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #00a3e0;
  transition: width 0.5s ease-in-out;
}

.nav-item a:hover::after {
  width: 100%;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 45%;
  color: #fff;
}

.header-content h1 {
  font-family: "mainFont", cursive;
  font-weight: 200;
}
/* HEADER */

/* VISION */
.vision-section {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 30vh;
}

.vision-section h2 {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}

.vision-section p {
  width: 56%;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
}
/* VISION */

/* Message Section */
.message-card-01,
.message-card-02 {
  display: flex;
}

.msg-content-01,
.msg-img-01,
.msg-content-02,
.msg-img-02 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 27px;
  padding-left: 20px;
  background-color: #f6f6f6;
  width: 50%;
}

.msg-img-01 img,
.msg-img-02 img {
  width: 100%;
  height: 80%;
  background-size: cover;
}

.msg-img-01,
.msg-img-02 {
  align-self: flex-start;
}

.msg-content-01,
.msg-content-02 {
  font-size: 14px;
  font-weight: 600;
  color: #2c2b2b;
  line-height: 1.5;
  height: 26rem;
}

.msg-content-01 p,
.msg-content-02 p {
  padding: 0 20px;
}

.msg-content-01,
.msg-img-01,
.msg-content-02,
.msg-img-02 {
  padding: 0;
}
.message-section h2 {
  font-size: 18px;
  color: #000;
  margin-bottom: 30px;
}
/* Message Section */

/* Service Section */
.service-section {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 60%;
  padding-top: 60px;
  padding-bottom: 125px;
}
.service-card {
  width: 30%;
}
.service-card h2 {
  font-size: 18px;
  font-weight: 900;
  color: #000;
  text-align: center;
  margin-bottom: 20px;
}
.service-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 25px;
}

.service-card p {
  font-size: 14px;
  font-weight: 600;
  color: #2c2b2b;
  line-height: 1.5;
}
/* Service Section */

/* Reason */
.reason-box {
  border: 2px solid #00a3e0;
  padding: 20px;
  max-width: 70%;
  margin: 0 auto;
  margin-bottom: 70px;
}

.reason-header {
  display: flex;
  align-items: center;
}

.ribbon {
  display: inline-block;
  position: relative;
  top: -3rem;
  background-color: #00a0e9;
  color: white;
  padding: 15px;
  font-family: Arial, sans-serif;
  font-size: 3em;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 85%, 0% 100%);
}

.ribbon-outter {
  position: relative;
  top: -4.6rem;
  border: 0.9rem solid #006f97;
  clip-path: polygon(-3% 0%, 50% 100%, -3% 100%);
}

.reason-title {
  position: relative;
  top: -2.8rem;
  width: calc(100% + 2.6rem);
  margin-left: -8.3rem;
  margin-right: -9rem;
  z-index: -1;
  height: 30px;
  background: #00a3e0;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 5px 0;
}

.reason-heading {
  position: relative;
  top: -2.5rem;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 30px;
  text-align: center;
}

.reason-content {
  display: flex;
  position: relative;
  top: -2rem;
  flex-wrap: wrap;
}

.reason-image img {
  max-width: 90%;
  height: auto;
  padding-left: 5px;
}

.reason-text {
  flex: 1;
  min-width: 300px;
}

.reason-text p {
  font-size: 14px;
  line-height: 2;
  color: #000;
  font-weight: 600;
}
/* Reason */
/* STORY */
.story-section {
  display: flex;
  justify-content: center;
  background-image: url(../images/bgSec04.jpg);
  padding-top: 80px;
  padding-bottom: 120px;
  background-size: cover;
  background-position: center bottom;
}
.story {
  width: 32%;
  margin-left: 35px;
  margin-right: 35px;
}
.story h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
}
.story p {
  color: #fff;
}
/* STORY */
/* COMPANY INFO */
.com-info-section {
  display: flex;
  justify-content: center;
  gap: 7rem;
  padding-top: 8.75rem;
  padding-bottom: 8.75rem;
}

table {
  width: 100%;
  height: 300px;
}

.key,
.value {
  font-size: 14px;
  font-weight: 600;
  color: #2c2b2b;
  line-height: 1.5;
  margin: 0.8rem 0;
  padding-bottom: 1rem;
  vertical-align: top;
}

.key {
  text-align: right;
}
.value {
  padding-left: 40px;
}

.value a {
  color: #00a3e0;
  text-decoration: none;
  font-weight: 600;
}

iframe {
  width: 400px;
  height: 300px;
}

/* COMPANY INFO */
/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
}

footer a {
  color: #00a3e0;
  text-decoration: none;
  font-weight: 500;
}
/* Footer */

/* Responsive Design */
@media screen and (max-width: 768px) {
  /* vision-sec */
  .vision-section {
    margin-bottom: 9rem;
  }

  .vision-section p {
    width: 50%;
  }
  .message-card-01 {
    flex-direction: column;
    background-color: #f6f6f6;
  }
  .msg-img-01 {
    width: 100%;
  }
  .msg-content-01,
  .msg-content-02 {
    padding-left: 0px;
    padding-right: 0px;
    width: 90%;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.8;
  }
  .message-card-02 {
    flex-direction: column-reverse;
    background-color: #f6f6f6;
  }
  .message-card-02 .msg-img-02 {
    width: 100%;
  }
  /* vision-sec */

  /* Service Section */
  .service-section {
    flex-direction: column;
    padding-bottom: 75px;
  }
  .service-card {
    width: 100%;
    margin-bottom: 50px;
  }
  /* Service Section */
  /* Reason Box */
  .reason-box {
    max-width: 90%;
    padding-bottom: 0;
  }

  .reason-header {
    display: flex;
    align-items: center;
  }

  .ribbon {
    top: -2.2rem;
    font-size: 1.5em;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 85%, 0% 100%);
  }

  .ribbon-outter {
    top: -3.1rem;
    clip-path: polygon(0% 0%, 40% 57%, -10% 57%);
  }

  .reason-title {
    top: -2.2rem;
    width: calc(100% + 2.7rem);
    margin-left: -6.7rem;
    margin-right: -9rem;
    font-size: 12px;
  }

  .reason-heading {
    font-size: 0.9em;
    margin-top: 1rem;
  }

  .reason-content {
    justify-content: center;
  }

  .reason-image img {
    max-width: 100%;
    height: auto;
    padding-left: 5px;
    padding-bottom: 15px;
  }

  .reason-text p {
    font-size: 0.7em;
  }
  /* Reason Box */

  /* Story Section */
  .story-section {
    flex-direction: column;
    padding-bottom: 95px;
  }
  .story {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin: 50px;
  }
  /* Story Section */
  /* Company Info Section */
  .com-info-section {
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
  }
  .com-info {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 40px;
  }
  .com-map {
    margin: 0;
    width: 100%;
  }
  iframe {
    width: 100%;
    height: 300px;
  }
  /* Company Info Section */
  /* footer section */
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  footer a {
    display: block;
    margin-top: 10px;
    font-size: 12px;
  }
  /* footer section */
  /* Header and Nav Section   */
  header {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 70vh;
    margin-bottom: 40px;
  }
  nav ul {
    flex-direction: column;
  }
  .nav-menu {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0px;
    right: 0px;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
  }
  .nav-menu.active {
    right: 0px;
    opacity: 1;
    visibility: visible;
  }
  .nav-menu ul {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .nav-menu ul li {
    margin-left: 0px;
    border-bottom: 1px solid #ccc;
  }
  .nav-menu li a {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    color: #333;
    transition: 1s;
  }
  .nav-menu li a:hover {
    background-color: #bbdbcf;
  }
  .menu,
  .menu span {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .menu {
    position: fixed;
    top: 20px;
    left: 25px;
    width: 35px;
    height: 22px;
    z-index: 10;
    border: none;
    background-color: transparent;
  }
  .menu span {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background-color: #000;
    z-index: 10;
  }
  .menu span:nth-of-type(1) {
    top: 0px;
  }
  .menu span:nth-of-type(2) {
    top: 10px;
  }
  .menu span:nth-of-type(3) {
    bottom: 0px;
  }
  .menu.active span:nth-of-type(1) {
    transform: translateY(10px) rotate(45deg);
  }
  .menu.active span:nth-of-type(2) {
    opacity: 0;
  }
  .menu.active span:nth-of-type(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
  .header-content {
    padding-top: 265px;
  }
}
/* Header and Nav Section   */
